{% extends 'dashboard_template.html' %}
{% block main %}

    <div class="px-5 py-2 rounded-3">
        <p>Telefonica Innovations</p>
        <h2 class="pb-3">{{ programme.name }}</h2>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="container-fluid pt-2">
                    <h5>Details</h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mb-2 mt-2">
                            <h6>Programme Name</h6>
                            <h7>{{ programme.name }}</h7>
                        </li>
                        <li class="list-group-item my-2">
                            <h6>Cohort</h6>
                            <h7>{{ programme.cohort }}</h7>
                        </li>
                        <li class="list-group-item my-2">
                            <div class="col">
                                <h6>Partners</h6>
                                {% for partner in partners %}
                                    <h7>{{partner.name}}</h7>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="list-group-item my-2">
                            <h6>Participants</h6>
                            <h7>{{ programme.participants }}</h7>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 px-5 py-2 rounded-3">
                    <div class="pt-1 pb-3">
                        <h4>Coaches and Mentors</h4>
                        <div class="row mb-3">
                            {% include 'partials/utilities/individual_card.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-3">
            <h2>Contracts and Rights</h2>
            <div class="px-5 pt-3 pb-2 mb-4 bg-light rounded-3">
                <div class="container-fluid py-3">
                    <div class="row mb-3">
                        {% for count in contract_counter %}
                            {% include 'partials/utilities/document_card.html' %}
                        {% endfor %}
                    </div>
                    <div class="row pt-2">
                        {% include 'partials/utilities/see_all_button.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
