{% extends 'dashboard_template.html' %}
{% block main %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/indiviudal.css' %}">

<div class="px-5 py-2 rounded-3">
    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
        <div class="col">
            <h2 class="pb-3">{{individual.name}}</h2>
        </div>
        <div class="btn-group me-2">
            {% if individual.is_archived %}
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'unarchive_individual' individual.id %}">Unrchive</a>
            {% else %}
                <a type="button" class="btn btn-sm btn-outline-success" href="{% url 'archive_individual' individual.id %}">Archive</a>
            {% endif %}
            <a type="button" class="btn btn-sm btn-outline-primary" href="{% url 'individual_update' individual.id %}">Update</a>
            <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteIndividualModal">Delete</button>
        </div>
        {% include 'partials/individual/individual_delete_modal.html'%}
        
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="container-fluid pt-2">
                <h5>Details</h5>
        
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mb-2 mt-2">
                            <h6>Individual Name</h6>
                            <h7>{{individual.name}}</h7>
                    </li>
                    <li class="list-group-item my-2">
                        <h6>Position</h6>
                        <h7>{{individual.Position}}</h7>
                    </li>
                    <li class="list-group-item my-2">
                        <div class="col">
                            <h6>Individual's Company </h6>
                            <h7>{{individual.Company}}</h7>
                        </div>
                    </li>
                    <li class="list-group-item my-2">
                        <h6>Email</h6>
                        <h7>{{individual.Email}}</h7>
                    </li>
                    <li class="list-group-item my-2">
                        <h6>Phone Number</h6>
                        <h7>{{individual.PrimaryNumber}}</h7>
                    </li>
                    <li class="list-group-item my-2">
                        <h6>Links</h6>
                        <h7>{{individual.LinkedInLink}}</h7><br>
                        <h7>{{individual.CrunchbaseLink}}</h7><br>
                        <h7>{{individual.AngelListLink}}</h7><br>
                    </li>
                </ul>
        
            </div>
        </div>
<!--
        <div class="container-fluid pt-3">
            <h2>Coaches/Mentors</h2>
            <div class="px-5 pt-3 pb-2 mb-4 bg-light rounded-3">
                <div class="container-fluid py-3">
                    <p>These are the coaches and mentors associated with Wayra UK Limited:</p>
                    <div class="row mb-3">
                        {% for count in counter %}
                            {% include 'partials/utilities/individual_card.html'%}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>-->
</div>

{% endblock %}
