<!-- change password -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 mx-5">
            <form class="mb-2">
                <div class="bg-secondary-soft rounded mb-3">
                    <div class="row g-3">
                        <div class="mb-3">
                            <h5 class="mb-0">Change Password</h5>
                        </div>
                        <!-- Old password -->
                        <div class="col-md-6">
                            <label for="exampleInputPassword1" class="form-label">Old password *</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <!-- New password -->
                        <div class="col-md-6">
                            <label for="exampleInputPassword2" class="form-label">New password *</label>
                            <input type="password" class="form-control" id="exampleInputPassword2">
                        </div>
                        <!-- Confirm password -->
                        <div class="col-md-12">
                            <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
                            <input type="password" class="form-control" id="exampleInputPassword3">
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </div>
            </form>

            <hr class="my-3" />

        </div>
    </div>
</div>