<!-- Links detail -->
<div class="col-xxl-6 mb-5 mb-xxl-0">
    <div class="bg-secondary-soft px-4 py-5 rounded">
        <div class="row g-3">
            <h4 class="mb-4 mt-0">Links and Socials</h4>
            <!-- Crunchbase -->
            <div class="col-md-6">
                <label class="form-label">
                    Crunchbase
                </label>
                <input type="text" class="form-control" placeholder="" aria-label="Crunchbase"
                    value="http://www.crunchbase.com">
            </div>
            <!-- PipeDrive -->
            <div class="col-md-6">
                <label class="form-label">
                    PipeDrive
                </label>
                <input type="text" class="form-control" placeholder="" aria-label="Pipedrive"
                    value="http://www.pipedrive.com">
            </div>
            <!-- Linkedin -->
            <div class="col-md-6">
                <label class="form-label">
                    Linkedin
                </label>
                <input type="text" class="form-control" placeholder="" aria-label="Linkedin"
                    value="http://www.linkedin.com">
            </div>
            <!-- OneDrive -->
            <div class="col-md-6">
                <label class="form-label">
                    OneDrive
                </label>
                <input type="text" class="form-control" placeholder="" aria-label="Onedrive"
                    value="http://www.onedrive.com">
            </div>
            <!-- Docusign -->
            <div class="col-md-6">
                <label class="form-label">
                    Docusign
                </label>
                <input type="text" class="form-control" placeholder="" aria-label="Docusign"
                    value="http://www.docusign.com">
            </div>
            <!-- Asana -->
            <div class="col-md-6">
                <label class="form-label">
                    Asana
                </label>
                <input type="text" class="form-control" placeholder="" aria-label="Asana"
                    value="http://www.asana.com">
            </div>
        </div>
    </div>
</div>