<!-- Links detail -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 mx-5">
            <form class="mb-2">
                <div class="bg-secondary-soft rounded mb-3">
                    <div class="row g-3">
                        <div class="mb-3">
                            <h5 class="mb-0">Links And Socials</h5>
                        </div>
                        <!-- Crunchbase -->
                        <div class="col-md-6">
                            <label class="form-label">
                                Crunchbase
                            </label>
                            <input type="text" class="form-control" placeholder="" aria-label="Crunchbase"
                                value="http://www.crunchbase.com">
                        </div>
                        <!-- PipeDrive -->
                        <div class="col-md-6">
                            <label class="form-label">
                                PipeDrive
                            </label>
                            <input type="text" class="form-control" placeholder="" aria-label="Pipedrive"
                                value="http://www.pipedrive.com">
                        </div>
                        <!-- Linkedin -->
                        <div class="col-md-6">
                            <label class="form-label">
                                Linkedin
                            </label>
                            <input type="text" class="form-control" placeholder="" aria-label="Linkedin"
                                value="http://www.linkedin.com">
                        </div>
                        <!-- OneDrive -->
                        <div class="col-md-6">
                            <label class="form-label">
                                OneDrive
                            </label>
                            <input type="text" class="form-control" placeholder="" aria-label="Onedrive"
                                value="http://www.onedrive.com">
                        </div>
                        <!-- Docusign -->
                        <div class="col-md-6">
                            <label class="form-label">
                                Docusign
                            </label>
                            <input type="text" class="form-control" placeholder="" aria-label="Docusign"
                                value="http://www.docusign.com">
                        </div>
                        <!-- Asana -->
                        <div class="col-md-6">
                            <label class="form-label">
                                Asana
                            </label>
                            <input type="text" class="form-control" placeholder="" aria-label="Asana"
                                value="http://www.asana.com">
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </div>
                <hr class="my-3" />
            </form>
        </div>
    </div>
</div>