<div class="card p-3">
    <div class="d-flex w-30 justify-content-between mb-2 align-items-center">
        <div>
            <div>Company</div>
            <div class="d-flex align-items-baseline align-items-baseline">
                
                <h5 class="mr-1">Wayra</h5>
                <span>Telefonica Innovations</span>
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item mb-2 mt-2">
                <h6>Founders</h6>
                <h7>John Doe</h7>
        </li>
        <li class="list-group-item my-2">
            <div class="col">
                <h6>Years in operation</h6>
                <h7>12 years</h7>
            </div>
        </li>
        <li class="list-group-item my-2">
            <h6>Investors</h6>
            <h7>Wayra UK Limited</h7>
        </li>
    </ul>
</div>
