<div class="card p-3">
    <div class="d-flex w-30 justify-content-between mb-2 align-items-center">
        <div>
            <div>Company</div>
            <div class="d-flex align-items-baseline align-items-baseline">
                
                <h5 class="mr-1">Wayra</h5>
                <span>Telefonica Innovations</span>
            </div>
        </div>
    </div>

    <table>
        <tr>
            <th>Founder</th>
            <td>John Doe</td>
        </tr>
        <tr>
            <th>Investors</th>
            <td>Click here</td>
        </tr>
        <tr>
            <th>Years in operation</th>
            <td>12 years</td>
        </tr>
    </table>
</div>

