{% if messages %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% for message in messages %}
          {% if message.level_tag == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
              {{ message.level_tag }}
            </div>
          {% else %}
          <div class="alert alert-success" role="alert">
            {{ message }}
            {{ message.level_tag }}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}