<div class="container-fluid pt-2">
    <h3>Details</h3>

    <ul class="list-group list-group-flush border rounded-3">
        <li class="list-group-item mb-2 mt-2">

            <h6>Company Name</h6>
            <h7>{{ company.name }}</h7>
        </li>
        {% if company.wayra_number %}
        <li class="list-group-item my-2">
            <h6>Wayra ID</h6>
            <h7>{{ company.wayra_number }}</h7>
        </li>
        {% endif %}
        <li class="list-group-item my-2">
            <h6>Company Registration Number(CRN)</h6>
            <h7>{{ company.company_registration_number }}</h7>
        </li>
        <li class="list-group-item my-2">
            <div class="col">
                <h6>Jurisdiction</h6>
                <h7>{{ company.jurisdiction }}</h7>
            </div>
        </li>
        <li class="list-group-item my-2">
            <h6>Trading Names</h6>
            <h7>{{ company.trading_names }}</h7>
        </li>
        <li class="list-group-item my-2">
            <h6>Previous Names</h6>
            <h7>{{ company.previous_names }}</h7>
        </li>
        <li class="list-group-item my-2">
            <h6>Registered Address</h6>
            <h7>{{ company.registered_address }}</h7>
        </li>
    </ul>

    <!-- <div class="container-fluid">

        <div class="row mb-3">

            <div class="col-md-6 col-xl-4 mb-2 py-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6 w-100">
                                <h5 class="text-muted fw-normal mt-0 text-wrap" title="Active Projects">Company Name</h5>
                                <h3 class="my-2 py-1">{{ company.name }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-2 py-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6 w-100">
                                <h5 class="text-muted fw-normal mt-0 text-wrap w-100" title="Active Projects">Company Registration Number(CRN)</h5>
                                <h3 class="my-2 py-1">{{ company.company_registration_number }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-2 py-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6 w-100">
                                <h5 class="text-muted fw-normal mt-0 text-wrap" title="Active Projects">Jurisdiction</h5>
                                <h3 class="my-2 py-1">{{ company.jurisdiction }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-3">

            <div class="col-md-6 col-xl-4 mb-2 py-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6 w-100">
                                <h5 class="text-muted fw-normal mt-0 text-wrap" title="Active Projects">Trading Names</h5>
                                <h3 class="my-2 py-1">{{ company.trading_names }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-2 py-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6 w-100">
                                <h5 class="text-muted fw-normal mt-0 text-wrap" title="Active Projects">Previous Names</h5>
                                <h3 class="my-2 py-1">{{ company.previous_names }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-2 py-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6 w-100">
                                <h5 class="text-muted fw-normal mt-0 text-wrap" title="Active Projects">Registered Address</h5>
                                <h3 class="my-2 py-1">{{ company.registered_address }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div> -->

</div>