<div class="h-100 px-5 py-2 rounded-3">
    <div class="pt-1 pb-3">
        <h4>Founders</h4>
        <div class="row mb-3 rounded bg-light p-3">
            {% for founder in founders %}
                {% include 'partials/utilities/individual_card.html' with individual=founder%}
            {% endfor %}
        </div>
    </div>
    <div class="pt-1 pb-3">
        <h4>Investors</h4>
        <div class="row mb-3 rounded bg-light p-3">
            {% if not individual_investors and not company_investors %}
                No Investors
            {% else %}
                {% for investor in individual_investors %}
                    {% include 'partials/utilities/individual_card.html' with individual=investor %}
                {% endfor %}
                {% for investor in company_investors %}
                    {% include 'partials/utilities/individual_card.html' with individual=investor %}
                {% endfor %}
            {% endif %}
            
        </div>
    </div>
    <div class="pt-1 pb-3">
        <h4>Coaches/Mentors</h4>
        <div class="row mb-3 rounded bg-light p-3">
            {% for coach in coaches_mentors %}
                {% include 'partials/utilities/individual_card.html' with individual=coach %}
            {% endfor %}
        </div>
    </div>
</div>