{% extends 'dashboard_template.html' %}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar" class="align-text-bottom"></span>
        This week
      </button>
    </div>
</div>

<div class="px-5 py-2 rounded-3">
    <div class="container-fluid pt-2">

 
        {% include 'partials/utilities/searchbar.html' %}


    </div>
</div>

<div class="px-5">
    {% include 'partials/company/company_card_collection.html' with companies=companies %}
</div>

<div class="container-fluid d-flex justify-content-between position-sticky">
  <a></a>
  <a href="{% url 'create_company' %}"><i class="fas fa-plus-circle fa-3x pt-3 pb-3"></i></a>
</div>

{% endblock %}