{% extends 'dashboard_template.html' %}
{% load static %}
{% block main %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn btn-group me-1">
                <a href="{% url 'investor_company_create' %}" class="btn btn-sm btn-outline-primary"> Assign investor
                    company</a>
            </div>
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary px-3"><i class="fa-solid fa-border-all"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary px-3"><i class="fa-solid fa-list"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary px-3"><i class="fa-solid fa-table-list"></i></button>
            </div>
        </div>
    </div>

    <div class="px-5 pb-2 rounded-3">
        <div class="container-fluid pt-2 px-0 search-div-styling">
    
          <div class="row">
    
            <div style="max-width: 85%;">
                {% include 'partials/search/searchbar.html' with search_url=search_url %}
            </div>

            <div class="btn-group w-auto">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-filter"></i>
                Filter
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">All</button>
                <button class="dropdown-item" type="button">Portfolio Companies</button>
                <button class="dropdown-item" type="button">Investors</button>
              </div>
            </div>
    
          </div>
    
        </div>
    </div>

    <div class="px-5 pt-5">
        {% include 'partials/company/company_card_collection.html' with companies=companies %}
        <!-- {% include 'partials/company/company_table.html' with companies=companies %} -->

    </div>

    <a href="{% url 'create_company' %}" class="create-company-plus-button"><i
            class="fas fa-plus-circle fa-3x pt-3 pb-3"></i></a>

{% endblock %}