{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<div class="border px-1">
  
  <!-- Search bar -->
  <form method = "POST" action="{%url 'search_result'%}" class="input-group col-md-4 pb-1">
    {% csrf_token %}

    <input class="search_input form-control py-2" type="search" placeholder="Search for a Company" id="search_input" name="searchresult" autocomplete="off" style="border: 0;" spellcheck="false" value="{{searched}}">
    <span class="input-group-append">


      <button class="btn py-2 search_button" type="button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

    </span>

  </form>

  <div id="results_container" style="display: block;"></div>

  <!-- Ajax function call -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript">
      var search_input = document.getElementById('search_input');
      var results_container = document.getElementById('results_container');

      // Show or Hide the table depending on if the search input is active or not
      document.addEventListener('click', function(event) {
          var isClickInside = search_input.contains(event.target);
          if (isClickInside) {
            //Show the search results container
            if (results_container.style.display === "none") {
              results_container.style.display = "block";
            }
          }
          else {
            // hide the search results container
            if (results_container.style.display === "block") {
              results_container.style.display = "none";
            }
          }
      });

      // Handle the async search result calls to django backend
      $('.search_input').keyup(function(){
          var search_input = document.getElementById("search_input");
          $.ajax(
          {
              type:"GET",
              url: "/search_result",
              data:{
                      searchresult: search_input.value
              },
              success: function( data ) 
              {
                $('#results_container').html(data);
              }
          })
      });
  </script>
  
</div>

