<button class="btn-cssbuttons">
    <span>Contact</span>
    <ul>
        <li>
            <a href="https://gmail.com" class="text-decoration-none"><i
                    class="fa-regular fa-envelope text-light"></i></a>
        </li>
        <li>
            <a href="https://linkedin.com" class="text-decoration-none"><i
                    class="fa-brands fa-linkedin-in text-light"></i></a>
        </li>
        <li>
            <a href="https://github.com/" class="text-decoration-none"><i
                    class="fa-brands fa-github text-light"></i></a>
        </li>
    </ul>
</button>