{% extends 'dashboard_template.html' %}
{% block main %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles_create.css' %}">
    </head>
    <body>
        <h1>Create Individual</h1><p></p>
        <form action="{%url 'individual_create' %}" method="post">
            {% csrf_token %}
            {{ individualForm.as_p }}
            <div id="founder-fields" style="display: none;">
                {{ founderForm.as_p }}
            </div>
            {{ addressForms.as_p }}
            {% for form in pastExperienceForms %}
                {{ form.as_p }}
            {% endfor %}

            <script type="text/javascript">
                $(function() {
                    var form = $('#founder-fields');
                    var isFounder = $('#id_isFounder');
                    isFounder.change(function() {
                        if (isFounder.is(':checked')) {
                            form.show();
                        }
                        else {
                            form.hide();
                        }
                    });
                });
            </script>
        <input type="submit" value="Create" class="btn mb-2 home_button btn-lg btn-secondary mb=2">
    </form>
    
        
    </body>
    
</html>
{% endblock %}

